<div class="container">
  <div class="article-container">
    {{#each articles}}
      <div class="row">
        <div class="col-sm-8">
          <h2>{{this.title}}</h2>
          <h3>{{this.link}}</h3>
          <br>
        </div>
      </div>
    {{/each}}
  </div>
</div>
