<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mongo Scrapper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a id="saved" href="/saved">Saved Articles</a></li>
    </ul>
      <a class="btn btn-primary scrape" href="/scrape">Scrape Articles</a>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <img class="background" src="/assets/img/main.jpg">
    </div>
  </div>
</nav>

<div class="container">
  <div class="article-container">
    {{#each docs}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{this.title}}</h3>
        </div>
        <div class="panel-body">
          <a href="{{this.link}}">{{this.link}}</a>
          <button data-id="{{_id}}" class="btn btn-primary pull-right save">Save Article</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
